<?xml version="1.0"?>
<launch>
  <arg name="execute" default="true" />
  <arg name="max_solutions" default="10" />
  <arg name="workers" default="-1" />
  <arg name="connect_compute_attempts" default="1" />
  <arg name="keep_running" default="true" />
  <arg name="name" default="mtc_tutorial" />

  <!-- Run MTC pick and place -->
  <node name="$(arg name)" pkg="moveit_task_constructor_demo" type="pick_place_demo" output="screen">
    <param name="execute" value="$(arg execute)" />
    <rosparam command="load" file="$(find moveit_task_constructor_demo)/config/panda_config.yaml" />
    <param name="max_solutions" value="$(arg max_solutions)" />
    <param name="workers" value="$(arg workers)" />
    <param name="connect_compute_attempts" value="$(arg connect_compute_attempts)" />
    <param name="keep_running" value="$(arg keep_running)" />
  </node>
</launch>
